<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Magazin mobila.Site pe care se vinde mobila la domiciliu cu asamblare.">
        <meta name="keywords" content="sufragerie, gradina, mobila copii, living, baie, bucatarie, hol, dormitor, birou, pat, canapea, scaun, masa, dulap, rafturi, bar, fotoliu, comoda">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Magazin mobila</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/mobila.js></script>
        <script type="text/javascript" src=/resurse/js/bootstrap.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
        
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <div class="container">
            <!--<p><%- locals.pMin%> --- <%- locals.optiuni[0].unnest%></p>-->
            <div class="row">
                <label> Nume (se poate folosi "*"): <input type="text" id="inp-nume"></label>
                <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
            </div>   
            
            <div class="row"> Volum:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
                <p><label>Mic (volum &lt; 15)
                    <input id="i_rad1"  name="gr_rad" value="0:15" type="radio"/>
                </label></p>
                <p><label>Mediu (15 &le; volum &lt; 50)
                    <input id="i_rad2"  name="gr_rad" value="15:50" type="radio"/>
                </label>
                <p><label>Mare (50 &le; volum)
                    <input id="i_rad3" name="gr_rad" value="50:1000000000" type="radio"/>
                </label>
                <p><label>Toate
                    <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
                </label>
            </div>

            <div class="row">
                <label> Pret minim:<span id="infoRangeMin">(0)</span>
                    <input type="range" id="inp-pret-min" class="form-range" value="0" min="0"  max="3000"> </label>
                <label> Pret maxim:<span id="infoRangeMax">(3000)</span>
                    <input type="range" id="inp-pret-max" class="form-range" value="3000" min="0"  max="3000"> </label>
            </div>
            
            <div class="row">
                <p>
                    <label>Alege tipul:
                        <select id="inp-categorie">
                            <option id="sel-toate" selected value="toate">toate</option>
                            <% for (let opt of locals.optiuni) { //verificare ce local este%>
                                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                            <% } %>
                        </select>
                    </label>
                </p>
            </div>

            <div class="row">
                <p>
                    <label for="i_che1" class="btn btn-secondary btn-outline-primary">Necesita asamblare
                    <input id="i_che1" class="btn-check" name="gr_che" type="checkbox" autocomplete="off" checked/>
                </label><br>
                <label for="i_che2" class="btn btn-secondary btn-outline-primary">Nu necesita asamblare
                    <input id="i_che2" class="btn-check" name="gr_che" type="checkbox" autocomplete="off" checked/>
                </label></p>
            </div>

            <div class="row">
                <p>
                    <label for="browse-stil">Alege stil:</label>
                    <input list="browser-stil" name="browse-stil" id="browse-stil" selected value="Toate">
                        <datalist id="browser-stil">
                            <option value="Clasic">Clasic</option>
                            <option value="Modern">Modern</option>
                            <option value="Rustic">Rustic</option>
                            <option value="Minimalist">Minimalist</option>
                            <option value="Elegant">Elegant</option>
                            <option value="Copii">Copii</option>
                            <option value="Toate">Toate</option>
                        </datalist>
                </p>
            </div>
            
            <div class="row">
                <p>
                    <label for="tip-camera">Alege o camera:</label>
                    <select name="tip-camera" id="tip-camera"  multiple>
                        <option selected value="dormitor">Dormitor</option>
                        <option selected value="sufragerie">Sufragerie</option>
                        <option selected value="living">Living</option>
                        <option selected value="bucatarie">Bucatarie</option>
                        <option selected value="baie">Baie</option>
                        <option selected value="hol">Hol</option>
                        <option selected value="exterior">Exterior</option>
                        <option selected value="general">General</option>
                    </select>
                    <br><br>
                </p>
            </div>


            <div class="row form-floating">
                <textarea id="materiale" class="form-control" name="materiale" style="height: 100px" placeholder="Materiale"></textarea>
                <label for="materiale" id="lab-mat" >Introdu materialele cautate separate prin virgula:</label>
            </div>

            <div class="row">
                <p>
                <button id="filtrare" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-filter d-inline-block d-sm-none" aria-hidden="true"><i class="bi bi-filter"></i></span> <!-- Font awasom merge dar bootstrap nu ? -->
                    <span class="d-none d-sm-inline-block">Filtrare</span> 
                </button> 
                <button id="resetare" class="btn btn-primary btn-lg">Reseteaza</button><br/>
                <button id="sortCrescNume" class="btn btn-primary btn-lg">Sorteaza crescator dupa nume si lungimea descrierii</button>
                <button id="sortDescrescNume" class="btn btn-primary btn-lg">Sorteaza descrescator dupa nume si lungimea descrierii</button>
                </p>
            </div>

            <div class="row">
                <p id="p-suma"><button id="b-suma" class="btn btn-primary btn-lg">Apăsați pentru suma preturilor produselor afișate. </button></p>
            </div>
        </div>
        
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.mobila) { %>
                    <article class="produs card" >
                        <h3 class="nume">Nume: <a class="linkprod" href="/mobilier/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        
                        <div>
                            <p class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></p>
                            <p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere%></span></p>
                            <p class="calorii">Volum: <span class="val-calorii"><%- prod.volum%></span></p>
                            <p class="camera">Camera: <span class="val-camera"><%- prod.camera_mobila%></span></p>
                            <span class="prod-id" style="display: none;"><%- prod.id %></span>
                        </div>
                        <div class="info-prod">
                            <div class="info-val">
                                <details>
                                    <summary>Detalii</summary>
                            <table class="tab-prod">
                                <thead>
        
                                    <tr>
                                        <th>Proprietate</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
    
                                        <td>Pret:</td>
                                        <td><span class="val-pret"><%- prod.pret%></span></td>
                                    </tr>
                                    <tr>
                                        <td>Stil:</td>
                                        <td><span class="val-stil"><%- prod.stil%></span></td>
                                    </tr>
                                    <tr>
                                        <td>Data:</td>
                                        <%function DateFunc(dateString){
                                            const months = [
                                                "nuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie",
                                                "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                                            const daysOfWeek = [
                                                "duminica","luni", "marti", "miercuri", "joi", "vineri", "sambata"];
                                            const date = new Date(dateString);
                                            const day = date.getDate();
                                            const month = months[date.getMonth()];
                                            const year = date.getFullYear();
                                            const dayOfWeek = daysOfWeek[date.getDay()];
                                            //document.getElementsByClassName("val-data").innerHTML=`${day}/${month}/${year} (${dayOfWeek})`;
                                            return `${day}/${month}/${year} (${dayOfWeek})`;
                                        } %>
                                        <td><time class="val-data" datetime="<%=
                                            prod.data_adaugare%>" onbeforeprint="DateFunc()"><%=DateFunc(prod.data_adaugare) %></time></td>
                                    </tr>
                                    <tr>
                                        <td>Materiale:</td>
                                        <td><span class="val-materiale"><%- prod.materiale%></span></td>
                                    </tr>
                                    <tr>
                                        <td>Asamblare:</td>
                                        <td> <span class="val-asamblare"><%- prod.necesitanecesita_asamblare ? 'NU' : 'DA'%></span></td>
                                    </tr>
                                </tbody>
                            </table>
                               
                                <!--<p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                                <p class="stil">Stil: <span class="val-stil"><%- prod.stil%></span></p>
                                <p class="data">Data: </p>
                                <p class="materiale">Materiale: <span class="val-materiale"><%- prod.materiale%></span></p>
                                <p class="asamblare">Asamblare: <span class="val-asamblare"><%- prod.necesitanecesita_asamblare ? 'NU' : 'DA'%></span></p>-->
                            </details>
                            </div>
                            <div class="img-prod">
                                <figure calss="poz-prod">
                                    <a href="/mobilier/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                                </figure>
                            </div>
                        </div>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                        <button class="pin btn btn-primary bp"><abbr title="Pastreza produsu dupa filtrare"><i class="bi bi-pin"></i></abbr></button>
                        <button  class="sterge btn btn-primary bp"><abbr title="Sterge Produsul momentan"><i class="bi bi-trash2"></i></abbr></button>
                        <button  class="sterge-sesiune btn btn-primary bp"><abbr title="Sterge produsu pentru sesiune"><i class="bi bi-trash"></abbr></i></button>
                    </article>
                <% }%>
                
            </div>
            <div  id="0Prod" style="display: none;">
                <p> Nu exista produse conform filtrării curente </p>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>